# Copyright 2025 MediaTek
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_MT8370
	bool
	select SOC_FAMILY_MTK_GENIO

config SOC_SERIES
	default "mt8370" if SOC_SERIES_MT8370

config SOC_MT8370
	bool
	select SOC_SERIES_MT8370

config SOC_MT8370_A55
	bool
	select SOC_MT8370
	help
	  MTK MT8370 A55

config SOC_MT8370_A55
	bool
	select SOC_MT8370
	help
	  MTK MT8370 A55

config SOC
	default "mt8370" if SOC_MT8370

config SOC_PART_NUMBER_MT8370
	bool

config SOC_PART_NUMBER
	default "mt8370" if SOC_PART_NUMBER_MT8370
