# Copyright 2025 MediaTek
# SPDX-License-Identifier: Apache-2.0

config SOC_MT8370_A55
	select ARM64
	select CPU_CORTEX_A55
	select ARM_ARCH_TIMER if SYS_CLOCK_EXISTS
	select SOC_PREP_HOOK

config MCUX_CORE_SUFFIX
	default "_ca55" if SOC_MT8370_A55
