/*
 * Copyright (c) 2025 MediaTek
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/pinctrl/mt8370-pinctrl.h>
#include <zephyr/dt-bindings/pinctrl/mt8370-pinctrl.h>

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <PINMUX_PIN_33__FUNC_O_UTXD1>,
					 <PINMUX_PIN_34__FUNC_I1_URXD1>;
		};

		trigger_response {
			pinmux = <PINMUX_PIN_38__FUNC_B_GPIO38>,
					 <PINMUX_PIN_40__FUNC_B_GPIO40>;
		};
	};

	i2s_default: i2s_default {
		group1 {
			pinmux = <PINMUX_PIN_107__FUNC_B0_I2SIN_MCK>,
					 <PINMUX_PIN_108__FUNC_B0_I2SIN_BCK>,
					 <PINMUX_PIN_109__FUNC_B0_I2SIN_WS>,
					 <PINMUX_PIN_110__FUNC_I0_I2SIN_D0>;
		};
	};
};
