# Copyright 2025 MediaTek
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_MT8365
	bool
	select SOC_FAMILY_MTK_GENIO

config SOC_SERIES
	default "mt8365" if SOC_SERIES_MT8365

config SOC_MT8365
	bool
	select SOC_SERIES_MT8365

config SOC_MT8365_A53
	bool
	select SOC_MT8365
	help
	  MTK MT8365 A53

config SOC_MT8365_A53
	bool
	select SOC_MT8365
	help
	  MTK MT8365 A53

config SOC
	default "mt8365" if SOC_MT8365

config SOC_PART_NUMBER_MT8365
	bool

config SOC_PART_NUMBER
	default "mt8365" if SOC_PART_NUMBER_MT8365
