# Copyright 2025 MediaTek
# SPDX-License-Identifier: Apache-2.0

config MTK_EINT_MT8365
	bool "MediaTek MT8365 EINT driver"
	default y
	depends on DT_HAS_MEDIATEK_MT8365_EINT_ENABLED
	help
	  Enable the MediaTek MT8365 EINT driver.

config MTK_EINT_MT8370
	bool "MediaTek MT8370 EINT driver"
	default y
	depends on DT_HAS_MEDIATEK_MT8370_EINT_ENABLED
	help
	  Enable the MediaTek MT8370 EINT driver.
